 h1{
 font-size:1.5em;
     
}
 .slider{
            background:transparent;
        }
            .sl{
                width:100vw;
                height:100vh;
            }
            .S1{
                background-image:url(../contenido/fe79a0829_normal_slider.jpg);
                background-size:cover;
                
            }
            .S2{
                background-image:url(../contenido/bfe6a6504_normal_slider.jpg);
                background-size:cover;
                
            }
            
            .S3{
                background-image:url(../contenido/690435df6_normal_slider.jpg);
                background-size:cover;
                
            }
            
            .S4{
                background-image:url(../contenido/ea542b54a_normal_slider.jpg);
                background-size:cover;
                
            }
            .white,.white:hover{color:#FFF;}
            .text-container{
                margin: 40vh 0;
                text-align:center;
            }
            .t{
                font-family: "montserratbold";
                font-size: 2.5em;
                color: #2392fe;
                text-transform:uppercase;
            }
            .s{
                font-size: 2.2em;
                color:#fff;
                text-transform:uppercase;
            }
            .txt{
                font-size: 1em;
                color:#fff !important;
                
                text-transform:uppercase;
            }
            .slider-quotes{
                margin:2em 0;
            }
            .slider-quotes>div>p{
                font-size: 25px;   
            }
            .slider-quotes>div{
                text-align:center;
                padding:5em 2em;
            }
