/*
Zerotheme.com | Free Html5 Responsive Templates
Zerogrid - A Single Grid System for Responsive Design
Author URI: https://www.zerotheme.com/
*/
/* -------------------------------------------- */
/* ------------------Grid System--------------- */ 
.zerogrid{ width: 1000px; position: relative;margin: 0 0 0 20px; float: left; padding: 0px;}
.zerogrid:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.zerogrid .f-right{float: right!important;}
.zerogrid .f-left{float: left!important;}

.zerogrid .row{}
.zerogrid .row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.zerogrid .row:after{clear: both; }
.zerogrid .row{zoom: 1;}

.zerogrid .wrap-col{margin:10px;}

.zerogrid .col-1-2, .zerogrid .col-1-3, .zerogrid .col-2-3, .zerogrid .col-1-4, .zerogrid .col-2-4, .zerogrid .col-3-4, .zerogrid .col-1-5, .zerogrid .col-2-5, .zerogrid .col-3-5, .zerogrid .col-4-5, .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6{float:left; display: inline-block;}

.zerogrid .col-full{width:100%;}

.zerogrid .col-1-2{width:50%;}
.zerogrid .offset-1-2{margin-left: 50%;}

.zerogrid .col-1-3{width:33.33%;}
.zerogrid .col-2-3{width:66.66%;}
.zerogrid .offset-1-3{margin-left: 33.33%;}
.zerogrid .offset-2-3{margin-left: 66.66%;}

.zerogrid .col-1-4{width:25%;}
.zerogrid .col-2-4{width:50%;}
.zerogrid .col-3-4{width:75%;}
.zerogrid .offset-1-4{margin-left: 25%;}
.zerogrid .offset-2-4{margin-left: 50%;}
.zerogrid .offset-3-4{margin-left: 75%;}

.zerogrid .col-1-5{width:20%;}
.zerogrid .col-2-5{width:40%;}
.zerogrid .col-3-5{width:60%;}
.zerogrid .col-4-5{width:80%;}
.zerogrid .offset-1-5{margin-left: 20%;}
.zerogrid .offset-2-5{margin-left: 40%;}
.zerogrid .offset-3-5{margin-left: 60%;}
.zerogrid .offset-4-5{margin-left: 80%;}

.zerogrid .col-1-6{width:16.66%;}
.zerogrid .col-2-6{width:33.33%;}
.zerogrid .col-3-6{width:50%;}
.zerogrid .col-4-6{width:66.66%;}
.zerogrid .col-5-6{width:83.33%;}
.zerogrid .offset-1-6{margin-left: 16.66%;}
.zerogrid .offset-2-6{margin-left: 33.33%;}
.zerogrid .offset-3-6{margin-left: 50%;}
.zerogrid .offset-4-6{margin-left: 66.66%;}
.zerogrid .offset-5-6{margin-left: 83.33%;}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.zerogrid{width:960px;}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.zerogrid{width:768px;}
}

@media only screen and (max-width: 767px) {
	.zerogrid, .zerogrid .col-1-2, .zerogrid .col-1-3, .zerogrid .col-2-3, .zerogrid .col-1-4, .zerogrid .col-2-4, .zerogrid .col-3-4, .zerogrid .col-1-5, .zerogrid .col-2-5, .zerogrid .col-3-5, .zerogrid .col-4-5, .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6{width:100%;}
	
	.zerogrid .offset-1-2, .zerogrid .offset-1-3, .zerogrid .offset-2-3, .zerogrid .offset-1-4, .zerogrid .offset-2-4, .zerogrid .offset-3-4, .zerogrid .offset-1-5, .zerogrid .offset-2-5, .zerogrid .offset-3-5, .zerogrid .offset-4-5, .zerogrid .offset-1-6, .zerogrid .offset-2-6, .zerogrid .offset-3-6, .zerogrid .offset-4-6, .zerogrid .offset-5-6{margin-left:0;}
}




.container{
	width: 1200px;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.container-full{
	width: 100%;
	padding: 0 0 0 3%;
}

.flex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    }

.row{
	width: 100%;
	float: left;
	position: relative;
}
 .wrap-col{margin:10px 15px;}
 .wrap-col-li{margin:50px 30px;}
 .wrap-row{margin: 0 18px;}


 .col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-2-4, .col-3-4, .col-1-5, .col-2-5, .col-3-5, .col-4-5, .col-1-6, .col-2-6, .col-3-6, .col-4-6, .col-5-6{
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
 .col-1-1{width:100%;}
 .col-1-2{width:50%;}
 .col-1-3{width:33.33%;} .col-2-3{width:66.66%;}
 .col-1-4{width:25%;} .col-2-4{width:50%;} .col-3-4{width:75%;}
 .col-1-5{width:20%;} .col-2-5{width:40%;} .col-3-5{width:60%;} .col-4-5{width:80%;} 
 .col-1-6{width:16.66%;} .col-2-6{width:33.33%;} .col-3-6{width:50%;} .col-4-6{width:66.66%;} .col-5-6{width:83.33%;} 

@media only screen and (min-width: 0px) and (max-width: 359px) {
 .col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-2-4, .col-3-4, .col-1-5, .col-2-5, .col-3-5, .col-4-5, .col-1-6, .col-2-6, .col-3-6, .col-4-6, .col-5-6
{width:100%;}
}
@media only screen and (min-width: 360px) and (max-width: 719px) {
 .col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-2-4, .col-3-4, .col-1-5, .col-2-5, .col-3-5, .col-4-5, .col-1-6, .col-2-6, .col-3-6, .col-4-6, .col-5-6
{width:100%;}
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
 .col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-2-4, .col-3-4, .col-1-5, .col-2-5, .col-3-5, .col-4-5, .col-1-6, .col-2-6, .col-3-6, .col-4-6, .col-5-6
{width:100%;}
}
@media only screen and (min-width: 960px) and (max-width: 1279px) {
 
}
@media only screen and (min-width: 1280px) and (max-width: 1919px) {

}
@media only screen and (min-width: 1920px) {

}
/*
@media only screen and (min-width: 768px) and (max-width: 959px) {
{width:768px;}
}

@media only screen and (max-width: 767px) {
, .col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-2-4, .col-3-4, .col-1-5, .col-2-5, .col-3-5, .col-4-5, .col-1-6, .col-2-6, .col-3-6, .col-4-6, .col-5-6{width:100%;}
	
 .offset-1-2, .offset-1-3, .offset-2-3, .offset-1-4, .offset-2-4, .offset-3-4, .offset-1-5, .offset-2-5, .offset-3-5, .offset-4-5, .offset-1-6, .offset-2-6, .offset-3-6, .offset-4-6, .offset-5-6{margin-left:0;}
}


*/
/*@media only screen and (min-width: 300px) and (max-width: 900px){
	.container{
		display: none;
	}
}*/

